{% extends "account/base.html" %}

{% load i18n static %}
{% load account socialaccount %}

{% block head_title %}{% trans "Login" %}{% endblock %}


{% block info_content %}

<img src="{% static 'account/images/graphic1.svg' %}" alt="">

{% endblock %}




{% block content %}

<h3 class="mb-3">Login</h3>
<p>
  Start using this holy crap today
</p>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

<div class="other-links">
  <span>Or login with</span><a href="#"><i class="fab fa-facebook-f"></i></a><a href="#"><i class="fab fa-google"></i></a><a href="#"><i class="fab fa-linkedin-in"></i></a>
</div>

{% else %}

<div class="page-links">
  <a href="{% url 'account_login' %}" class="active">{% trans 'Login' %} </a><a href="{% url 'account_signup' %}">{% trans 'Register' %}</a>
</div>
{% endif %}

<form method="POST" action="{% url 'account_login' %}">
  
  {% for non_field_error in form.non_field_errors %}
    <div class="form-alert alert alert-warning alert-dismissible fade show with-icon" role="alert">
      {{non_field_error}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">x</span>
      </button>
    </div>
  {% endfor %}

  {{ form.source.errors }}
  {{ form.source }}

  {% csrf_token %}

  {% for field in form %}
  <div class="fieldWrapper">
    {% for error in field.errors %}
    <div class="form-alert alert alert-warning alert-dismissible fade show with-icon" role="alert">
      {{error}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">x</span>
      </button>
    </div>
    {% endfor %}
    
    {# field.label_tag #} 
    
    {{ field }}
    {% if field.help_text %}
    <p class="help">{{ field.help_text|safe }}</p>
    {% endif %}
  </div>
  {% endfor %}

  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <div class=" mt-3">
    <button class="btn btn-primary"  id="submit" type="submit">{% trans "Login" %}</button> <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  </div>
</form>

{% endblock %}
