{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    <h3 class="mb-3">{% trans "Password Reset" %}</h3>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% for non_field_error in form.non_field_errors %}
        <div class="form-alert alert alert-warning alert-dismissible fade show with-icon" role="alert">
            {{non_field_error}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">x</span>
            </button>
        </div>
        {% endfor %}

        {{ form.source.errors }}
        {{ form.source }}

        {% csrf_token %}

        {% for field in form %}
        <div class="fieldWrapper">
        {% for error in field.errors %}
        <div class="form-alert alert alert-warning alert-dismissible fade show with-icon" role="alert">
            {{error}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">x</span>
            </button>
        </div>
        {% endfor %}

        {# field.label_tag #} 

        {{ field }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
        </div>
        {% endfor %}

        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-primary mt-3" id="submit" type="submit">{% trans "Reset My Passwor" %}</button>
    </form>

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endblock %}
