{% extends "account/base.html" %}
{% load static %}

{% load i18n static %}

{% block head_title %}{% trans "Signup" %}{% endblock %}


{% block info_content %}

<img src="{% static 'account/images/graphic1.svg' %}" alt="">

{% endblock %}


{% block content %}
<h3 class="mb-3">{% trans "Sign Up" %}</h3>
<p>
  Start using this holy crap today
</p>

<div class="page-links">
  <a href="{% url 'account_login' %}">{% trans 'Login' %} </a><a class="active" href="{% url 'account_signup' %}">{% trans 'Register' %}</a>
</div>

<form method="POST" action="{% url 'account_signup' %}">
  
  {% for non_field_error in form.non_field_errors %}
    <div class="form-alert alert alert-warning alert-dismissible fade show with-icon" role="alert">
      {{non_field_error}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">x</span>
      </button>
    </div>
  {% endfor %}

  {{ form.source.errors }}
  {{ form.source }}

  {% csrf_token %}

  {% for field in form %}
  <div class="fieldWrapper">
    {% for error in field.errors %}
    <div class="form-alert alert alert-warning alert-dismissible fade show with-icon" role="alert">
      {{error}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">x</span>
      </button>
    </div>
    {% endfor %}
    
    {# field.label_tag #} 
    
    {{ field }}
    {% if field.help_text %}
    <p class="help">{{ field.help_text|safe }}</p>
    {% endif %}
  </div>
  {% endfor %}

  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-primary mt-3" id="submit" type="submit">{% trans "Sign Up" %} &raquo;</button> 
</form>


{% endblock %}
