{% extends 'sadakat/base.html' %}
{% load static %}
{% block content %}
   
         
        </header>
        <!-- end of header -->
        <!-- .tp-breadcumb-area start -->
        <div class="tp-breadcumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="tp-breadcumb-wrap">
                            <h2>About Us</h2>
                            <ul>
                                <li><a href="{% url 'website_home' %}">Home</a></li>
                                <li><span>About</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- .tp-breadcumb-area end -->
        <!-- about-area start-->
        <div class="about-style-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-12">
                        <div class="about-content">
                            <div class="section-title">
                                <h2>About Us</h2>
                            </div>
                        <p>Sparks of Africa is an independent non-profit organization incessantly working to improve and positively influence the socio-economic wellbeing of the Nigerian people. The organization is focused on socio economic uplift of the nation through efforts to engender empowering of the youth of Nigeria.
</p>
                            <p>Nigeria has some of the largest young population in the world and to encourage and empower the youth to be productive in whatever career path they choose to follow will ensue a real change. Sparks of Africa also seeks to empower youth in the area of innovation, governance , the advancement of the economy and promotion of human and children's right. We are also deeply involved in advocacy for youth development and youth participation in government and in nation building.
</p>
                        </div>
                    </div>
                                        <div class="col-md-6 col-sm-12 col-12">
                        <div class="about-img">
                            <img src="{% static 'website/assets/images/cause/img-1.png' %}" alt="">
                        </div>
                    </div>

                </div>
            </div>
        </div>

<div class="about-style-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-12">
                        <div class="about-img">
                            <img src="{% static 'website/assets/images/Volunteers.jpg' %}" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-12">
                        <div class="about-content">
                            <div class="section-title">
                                <h2> Areas of Focus </h2>
                            </div>
                            <p> Sparks of Africa is focused on bringing a positive change to Africa. We are starting out with one country, Nigeria and then hope to expand to other regions as well.
 </p>
                            <p>Fro started, we are making focused efforts to streamline our activities to some specific cities and areas where we have assessed the potential. These are some of the key areas where we can produce faster results when it comes to empowerment and get more and more youth involved in enterprise development and governance in Africa.
</p>
                            <p>Our headquarters are located in Houston, TX in the United States from where we operate our management, volunteer programs and fund raising. </p>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="about-style-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-12">
                        <div class="about-content">
                            <div class="section-title">
                                <h2>About the Founder</h2>
                            </div>
                        <p>Sparks of Africa is established by Dayo Adebayo who happens to be a Serial Entrepreneur and Philanthropist. Over the past 10 years or so, he has successfully developed a number of startups in various fields.
</p>
                            <p>Dayo Adebayo is based in Texas, USA and has a Master’s in Business Administration degree from NYU, Stern School of Business. Even though his major area of focus was the energy industry, he has now ventured into non-profit and philanthropic initiatives like Sparks of Africa which is a promising venture to empower the youth of Nigeria and beyond.
 </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-12">
                        <div class="about-img">
                            <img src="{% static 'website/assets/images/Volunteers2.jpg' %}" alt="">
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- about-area end-->

<div class="about-style-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-12">
                        <div class="about-img">
                            <img src="{% static 'website/assets/images/cause/img-5.jpg' %}" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-12">
                        <div class="about-content">
                            <div class="section-title">
                                <h2> Our Volunteer Program </h2>
                            </div>
                            <p> Sparks of Africa invites volunteers from all over the world to work with us on various projects in Africa. You can lend your skills and time to any one of our causes and get the satisfaction and meaning of life.
</p>
                            <p>You can work as a volunteer from office, from remote locations on volunteer to go on ground to affect real change.
</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- end of page-wrapper -->
    <!-- theme-change-btn -->
    <div class="theme-change-btn">
         <button id="change-theme-btn">
            <span class="cng-btn-1">Light <i class="ti-palette"></i></span>
            <span class="cng-btn-2">Dark  <i class="ti-palette"></i></span>
        </button>
    </div>
    
    <div id="magic-cursor">
        <div id="ball">
            <div id="ball-drag-x"></div>
            <div id="ball-drag-y"></div>
            <div id="ball-loader"></div>
        </div>
    </div>
{% endblock %}