{% extends 'sadakat/base.html' %}
{% load static %}
{% block content %}


        </header>
        <!-- end of header -->
        <!-- .tp-breadcumb-area start -->
        <div class="tp-breadcumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="tp-breadcumb-wrap">
                            <h2>Event Details</h2>
                            <ul>
                                <li><a href="{% url 'website_home' %}">Home</a></li>
                                <li><span>Event</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- .tp-breadcumb-area end -->
        
        <!-- start event-section -->
<div class="about-style-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-12">
                        <div class="about-img">
<!--                            <img src="{% static 'website/assets/images/Volunteers.jpg' %}" alt="">-->
                            <img src="{{ event.image.url }}" alt="">
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12 col-12">
                        <div class="about-content">
                            <div class="section-title">
                                <div><i class="ti-folder"></i> {{ event.category }}</div>

                                <h2> {{ event.title }} </h2>
                            </div>
                            <div class="details">
                                    <div><i class="ti-calendar"></i>  <B>Starts from</B></div>
                                    <div>{{ event.start_date }}</div>
                                    <br>
                                    <div><i class="ti-calendar"></i>  <B>Ends at</B></div>
                                    <div>{{ event.end_date }}</div>
                                    
                                   
<!--                                    <h3><a href="event-single.html">{{ event.title }}</a></h3>-->
                                </div>
                                <hr>
                            <p> {{ event.long_description }} </p>


                            {% if is_registered %}
                                <div class="alert alert-warning text-center" style="border-radius:100px;" role="alert">
                                    You have registered for this event!
                                </div>
                            {% else %}
                                <div class="submit-area">
                                    <a href="{% url 'register_to_event' event.id %}">
                                        <button type="submit" class="theme-btn submit-btn">Register now</button>
                                    </a>
                                </div>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end event-section -->

    </div>
    <!-- end of page-wrapper -->
    <!-- theme-change-btn -->
    <div class="theme-change-btn">
         <button id="change-theme-btn">
            <span class="cng-btn-1">Light <i class="ti-palette"></i></span>
            <span class="cng-btn-2">Dark  <i class="ti-palette"></i></span>
        </button>
    </div>
    <div id="magic-cursor">
        <div id="ball">
            <div id="ball-drag-x"></div>
            <div id="ball-drag-y"></div>
            <div id="ball-loader"></div>
        </div>
    </div>
  {% endblock %}