{% extends 'sadakat/base.html' %}
{% load static %}
{% block content %}
  
          
        </header>
        <!-- end of header -->
        <!-- .tp-breadcumb-area start -->
        <div class="tp-breadcumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="tp-breadcumb-wrap">
                            <h2>Our Event</h2>
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><span>Event</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- .tp-breadcumb-area end -->
        
        <!-- start event-section -->
        <section class="event-section section-padding">
            <div class="container">
                <div class="section-title text-center">
                    <span>Our Events</span>
                    <h2>Upcoming Events</h2>
                </div>
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="event-grids clearfix">
                            <div class="grid">
                                <div class="img-holder">
                                    <img src="assets/images/event/img-1.jpg" alt>
                                </div>
                                <div class="details">
                                    <ul class="entry-meta">
                                        <li><a href="#"><i class="ti-calendar"></i> 20 sep 2018</a></li>
                                        <li><a href="#"><i class="ti-folder"></i> Education</a></li>
                                    </ul>
                                    <h3><a href="event-single.html">Education for All Children</a></h3>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="img-holder">
                                    <img src="assets/images/event/img-2.jpg" alt>
                                </div>
                                <div class="details">
                                    <ul class="entry-meta">
                                        <li><a href="#"><i class="ti-calendar"></i> 20 sep 2018</a></li>
                                        <li><a href="#"><i class="ti-folder"></i> Food</a></li>
                                    </ul>
                                    <h3><a href="event-single.html">Food for All Everyone</a></h3>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="img-holder">
                                    <img src="assets/images/event/img-3.jpg" alt>
                                </div>
                                <div class="details">
                                    <ul class="entry-meta">
                                        <li><a href="#"><i class="ti-calendar"></i> 20 sep 2018</a></li>
                                        <li><a href="#"><i class="ti-folder"></i> Treatment</a></li>
                                    </ul>
                                    <h3><a href="event-single.html">Free Treatment</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- end event-section -->
        <!-- .tp-counter-area start -->
        <div class="tp-counter-area v2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="tp-counter-grids">
                            <div class="grid">
                                <div>
                                    <h2><span class="odometer" data-count="6200">00</span>+</h2>
                                </div>
                                <p>Donation</p>
                            </div>
                            <div class="grid">
                                <div>
                                    <h2><span class="odometer" data-count="80">00</span>+</h2>
                                </div>
                                <p>Fund Raised</p>
                            </div>
                            <div class="grid">
                                <div>
                                    <h2><span class="odometer" data-count="245">00</span>+</h2>
                                </div>
                                <p>Volunteers</p>
                            </div>
                            <div class="grid">
                                <div>
                                    <h2><span class="odometer" data-count="605">00</span>+</h2>
                                </div>
                                <p>Projects</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- .tp-counter-area end -->
        <!-- news-letter-section start-->
        <section class="news-letter-section s2 ds2">
            <div class="container">
                <div class="news-letter-wrap">
                    <div class="row">
                        <div class="col col-lg-10 col-lg-offset-1 col-md-8 col-md-offset-2">
                            <div class="newsletter">
                                <h3>Subscribe our Newsletter</h3>
                                <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas.</p>
                                <div class="newsletter-form">
                                    <form>
                                        <div>
                                            <input type="text" placeholder="Enter Your Email" class="form-control">
                                            <button class="bigCursor" type="submit">Subscribe</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- news-letter-section end-->
        <div class="tp-ne-footer">
            <!-- start tp-site-footer -->
            <footer class="tp-site-footer">
                <div class="tp-upper-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col col-lg-3 col-md-3 col-sm-6">
                                <div class="widget about-widget">
                                    <div class="logo widget-title">
                                        <img class="ft-logo-1" src="assets/images/logo.png" alt="blog">
                                        <img class="ft-logo-2" src="assets/images/logo-2.png" alt="blog">
                                    </div>
                                    <p>Build and Earn with your online store with lots of cool and exclusive tp-features </p>
                                    <ul>
                                        <li>
                                            <div class="parallax-wrap">
                                                <div class="parallax-element">
                                                    <a href="#">
                                                        <i class="ti-facebook"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="parallax-wrap">
                                                <div class="parallax-element">
                                                    <a href="#">
                                                        <i class="ti-twitter-alt"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="parallax-wrap">
                                                <div class="parallax-element">
                                                    <a href="#">
                                                        <i class="ti-instagram"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="parallax-wrap">
                                                <div class="parallax-element">
                                                    <a href="#">
                                                        <i class="ti-google"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col col-lg-2 col-md-3 col-sm-6">
                                <div class="widget link-widget">
                                    <div class="widget-title">
                                        <h3>Useful Links</h3>
                                    </div>
                                    <ul>
                                        <li><a href="about.html">About Us</a></li>
                                        <li><a href="causes.html">Our Causes</a></li>
                                        <li><a href="donate.html">Donate</a></li>
                                        <li><a href="contact.html">Contact Us</a></li>
                                        <li><a href="event.html">Our Event</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col col-lg-3 col-lg-offset-1 col-md-3 col-sm-6">
                                <div class="widget market-widget tp-service-link-widget">
                                    <div class="widget-title">
                                        <h3>Contact </h3>
                                    </div>
                                    <p>online store with lots of cool and exclusive tp-features</p>
                                    <div class="contact-ft">
                                        <ul>
                                            <li><i class="fi flaticon-pin"></i>28 Street, New York City, USA</li>
                                            <li><i class="fi flaticon-call"></i>+000123456789</li>
                                            <li><i class="fi flaticon-envelope"></i>Sadakat@gmail.com</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-lg-3 col-md-3 col-sm-6">
                                <div class="widget instagram">
                                    <div class="widget-title">
                                         <h3>Instagram</h3>
                                    </div>
                                    <ul class="d-flex">
                                        <li><a href="#"><img src="assets/images/instragram/1.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="assets/images/instragram/2.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="assets/images/instragram/3.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="assets/images/instragram/4.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="assets/images/instragram/5.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="assets/images/instragram/6.jpg" alt=""></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end container -->
                </div>
                <div class="tp-lower-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col col-xs-12">
                                <p class="copyright">&copy; 2021 Sadakat. All rights reserved</p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- end tp-site-footer -->
        </div>
    </div>
    <!-- end of page-wrapper -->
    <!-- theme-change-btn -->
    <div class="theme-change-btn">
         <button id="change-theme-btn">
            <span class="cng-btn-1">Light <i class="ti-palette"></i></span>
            <span class="cng-btn-2">Dark  <i class="ti-palette"></i></span>
        </button>
    </div>
    <div id="magic-cursor">
        <div id="ball">
            <div id="ball-drag-x"></div>
            <div id="ball-drag-y"></div>
            <div id="ball-loader"></div>
        </div>
    </div>
  {% endblock %}