{% load static %}
<div class="tp-ne-footer">
            <!-- start tp-site-footer -->
            <footer class="tp-site-footer">
                <div class="tp-upper-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col col-lg-3 col-md-3 col-sm-6">
                                <div class="widget about-widget">
                                    <div class="logo widget-title">
                                        <img class="ft-logo-1" src="{% static 'website/assets/images/logo.png' %}" alt="blog">
                                        <img class="ft-logo-2" src="{% static 'website/assets/images/logo-2.png' %}" alt="blog">
                                    </div>
<!--                                    <p>Build and Earn with your online store with lots of cool and exclusive tp-features </p>-->
                                    <ul>
                                        <li>
                                            <div class="parallax-wrap">
                                                <div class="parallax-element">
                                                    <a href="#">
                                                        <i class="ti-facebook"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="parallax-wrap">
                                                <div class="parallax-element">
                                                    <a href="#">
                                                        <i class="ti-twitter-alt"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="parallax-wrap">
                                                <div class="parallax-element">
                                                    <a href="#">
                                                        <i class="ti-instagram"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="parallax-wrap">
                                                <div class="parallax-element">
                                                    <a href="#">
                                                        <i class="ti-google"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col col-lg-2 col-md-3 col-sm-6">
                                <div class="widget link-widget">
                                    <div class="widget-title">
                                        <h3>Useful Links</h3>
                                    </div>
                                    <ul>
                                        <li><a href="{% url 'about' %}">About Us</a></li>
                                        <li><a href="{% url 'causes' %}">Our Causes</a></li>
                                        <li><a href="{% url 'donate' %}">Donate</a></li>
                                        <li><a href="{% url 'contact' %}">Contact Us</a></li>
                                        <li><a href="{% url 'event' %}">Our Event</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col col-lg-3 col-lg-offset-1 col-md-3 col-sm-6">
                                <div class="widget market-widget tp-service-link-widget">
                                    <div class="widget-title">
                                        <h3>Contact </h3>
                                    </div>
                                    <p> For any queries regarding our programs, volunteers, events or anything, please feel free to contact us </p>
                                    <div class="contact-ft">
                                        <ul>
                                            <li><i class="fi flaticon-pin"></i>14123 Dunsmore Landing DR,Houston TX 77059, USA</li>
                                            <li><i class="fi flaticon-call"></i>+1 443 629 0064</li>
                                            <li><i class="fi flaticon-envelope"></i>Sparks of Africa@gmail.com</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-lg-3 col-md-3 col-sm-6">
                                <div class="widget instagram">
                                    <div class="widget-title">
                                        <h3>Instagram</h3>
                                    </div>
                                    <ul class="d-flex">
                                        <li><a href="#"><img src="{% static 'website/assets/images/instragram/1.jpg' %}" alt=""></a></li>
                                        <li><a href="#"><img src="{% static 'website/assets/images/instragram/2.jpg' %}" alt=""></a></li>
                                        <li><a href="#"><img src="{% static 'website/assets/images/instragram/3.jpg' %}" alt=""></a></li>
                                        <li><a href="#"><img src="{% static 'website/assets/images/instragram/4.jpg' %}" alt=""></a></li>
                                        <li><a href="#"><img src="{% static 'website/assets/images/instragram/5.jpg' %}" alt=""></a></li>
                                        <li><a href="#"><img src="{% static 'website/assets/images/instragram/6.jpg' %}" alt=""></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end container -->
                </div>
                <div class="tp-lower-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col col-xs-12">
                                <p class="copyright">&copy; 2021 Sparks of Africa. All rights reserved</p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- end tp-site-footer -->
        </div>