{% load static %}
<!-- news-letter-section start-->
<section class="news-letter-section">
            <div class="container">
                <div class="news-letter-wrap">
                    <div class="row">
                        <div class="col col-lg-10 col-lg-offset-1 col-md-8 col-md-offset-2">
                            <div class="newsletter">
                                <h3>Subscribe our Newsletter</h3>
                                <p> Don't miss out latest causes and events </p>
                                <div class="newsletter-form">
                                    <form id="subscribe_to_newsletter">
                                        <div>
                                            <input type="email" id="subscription_email" placeholder="Enter Your Email" class="form-control">
                                            <button class="bigCursor" id="subscribe_btn" type="button">Subscribe</button>
                                        </div>
                                        <br>
                                        <div class="alert alert-success my-5" id="subscription-success" style="border-radius: 100px; display: none;" role="alert">
                                            
                                        </div>                                        
                                        <div class="alert alert-danger my-5" id="subscription-error" style="border-radius: 100px; display: none;" role="alert">
                                            
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
<!-- news-letter-section end-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
// $(document).ready(function() {
    function show_hide_text(container_id, message) {
        $(`#${container_id}`).text(message);
        $(`#${container_id}`).show();
        setTimeout(() => {
            $(`#${container_id}`).hide();
        }, 3000);
    }

    $('#subscribe_btn').click(function(){
        let email = $("#subscription_email").val();
        if (email.length > 0) {

            $.ajax({
                url: '/subscribe_to_newsletter/',
                method: 'GET',
                data: {
                    'email': email,
                },
                success: function(response){
                    if (response.status) {
                        $("#subscription_email").val("");
                        show_hide_text("subscription-success", response.message);
                    }else{
                        show_hide_text("subscription-error", response.message);
                    }
                }
            });     
        }else{
            show_hide_text("subscription-error", "Please enter your email before submission!")
        }
    });
// })
</script>